.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50vw;
}

.btn {
    margin-top: 4vh;
    border: solid #066FCC;
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    background-color: #F0F2FC;
    border-radius: 1vw;
    width: 18vw;
    color: black;
    font-size: 1.1rem;
    transition: 0.3s all ease;
    font-weight: 700;

    &:hover {
        color: white;
        background-color: #066FCC;
    }

    a {
        color: white;
        font-weight: 600;
    }
}

.image {
    width: 50vw;
}

.image img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .home {
        flex-direction: row;
        align-items: center;
    }

    .info {
        width: 40vw;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 25vw;
    }

    .image {
        width: 50vw;
        margin-top: 4vh;
    }
}

@media screen and (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .info {
        width: 90vw;
    }

    .btn {
        width: 30vw;
    }
}

@media screen and (max-width: 480px) {
    .info {
        font-size: 1rem;
        width: 95vw;
    }

    .btn {
        width: 60vw;
    }
}