.unik {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.search input {
    border: solid #9997D6;
    border-radius: 0.5rem;
    width: 30rem;
    height: 2rem;
    padding-left: 1rem;
}

.list {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.item {
    width: 16rem;
    min-height: 15rem;
    border: solid #9997D6;
    color: #000;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.item:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.image {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    overflow: hidden;
    /* To ensure the image doesn't overflow the container */
}

.image img {
    max-width: 100%;
    /* This will make sure the image doesn't grow larger than its natural width */
    height: 100%;
    /* This will maintain the aspect ratio of the image */
    border-radius: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex a {
    color: black;
}

.btn {
    width: 153%;
    text-align: center;
    padding: 0.3rem 0.5rem;
    border: solid #9997D6;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #9997D6;
    color: white;
    padding: 0.4rem 0.6rem;
}

.title {
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
}

.description {
    font-size: 0.8rem;
    font-weight: 400;
    height: 6rem;
}

/* PC */
@media only screen and (max-width: 1024px) {
    .search {
        width: 70%;
    }

    .search input {
        width: 100%;
    }

    .list {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .item {
        width: 14rem;
        min-height: 13rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    .mainText {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .subText {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .title {
        height: 4rem;
    }

    .description {
        height: 7rem;
    }
}

@media only screen and (max-width: 550px) {
    .list {
        gap: 0.5rem;
    }

    .item {
        width: 10.5rem;
        min-height: 11rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .image {
        width: 100%;
        height: 5rem;
    }

    .title {
        height: 4rem;
    }

    .description {
        height: 9rem;
    }
}