.unik {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.search input {
    border-radius: 0.5rem;
    width: 30rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: solid #066FCC;
}

.list {
    width: 75%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.item {
    width: 30rem;
    min-height: 10rem;
    border: solid #066FCC;
    color: #000;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.item:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background-color: #F0F2FC;
}

.image {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    overflow: hidden;
    /* To ensure the image doesn't overflow the container */
}

.image img {
    max-width: 100%;
    /* This will make sure the image doesn't grow larger than its natural width */
    height: 100%;
    /* This will maintain the aspect ratio of the image */
    border-radius: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex a {
    color: black;
}

.btn {
    width: 153%;
    text-align: center;
    padding: 0.3rem 0.5rem;
    border: solid #066FCC;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #066FCC;
    color: white;
    font-weight: 700;
    padding: 0.4rem 0.6rem;
}

.title {
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
}

.description {
    font-size: 0.8rem;
    font-weight: 400;
    height: 6rem;

    a {
        color: black;
    }
}

.sidebar {
    width: 25%;
    padding: 0.5rem;
    position: sticky;
    top: 5rem;
    border: solid #066FCC;
    border-radius: 1rem;

    input {
        width: 48%;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.1rem 0.5rem;
        border: 0.1px;
        border: solid #b5c2fd;
    }
}

/* PC */
@media only screen and (max-width: 1520px) {
    .item {
        width: 25rem;
        min-height: 10rem;
    }
}

@media only screen and (max-width: 1280px) {
    .item {
        width: 100%;
        min-height: 10rem;
    }
}

@media only screen and (max-width: 1024px) {
    .search {
        width: 70%;
    }

    .search input {
        width: 100%;
    }

    .list {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .mainText {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .subText {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 768px) {
    .list {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .item {
        width: 30rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .list {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .item {
        min-height: 11rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }


    .description {
        height: 5rem;
    }
}